/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import 'colors';

@font-face {
  font-family: 'MarkPro';
  src: url('/assets/fonts/MarkPro.otf') format('opentype');
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

.anthill {
  font-weight: lighter;
  span {
    color: $anthill-grey;
    font-weight: bold;
  }
}

.chevron {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  margin-top: 30%;
  height: 40%;
  width: 100%;
  z-index: -1;
  @media (min-width: 992px) {
    height: 40%;
    margin-top: 20%;
  }
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $grey-light;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: $grey-superlight;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}
