/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import 'colors';

@font-face {
  font-family: 'MarkPro';
  src: url('/assets/fonts/MarkPro.otf') format('opentype');
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

.anthill {
  font-weight: lighter;
  span {
    color: $anthill-grey;
    font-weight: bold;
  }
}

.shape-rising {
  position: absolute;
  z-index: -1;
  height: 40%;
  width: 100%;
  margin-top: 30%;
  background: $grey-light;
  transform: skew(0deg, -6deg);
}

.shape-waning {
  position: absolute;
  z-index: -1;
  height: 40%;
  width: 100%;
  margin-top: 30%;
  background: $grey-superlight;
  transform: skew(0deg, 6deg);
}
