<div class="shape-rising" [@chevronL]="message"></div>
<div class="shape-waning" [@chevronR]="message"></div>
<div class="container">
  <div class="home-title-box">
    <img src="/assets/img/logo_original.png" [@logo]="message">
    <p class="anthill">
      towards <span>solutions</span> together
    </p>
    <p class="text-big">
      Managing micro services around the world bringing
      people into advanced solutions.
    </p>
  </div>

  <div class="d-none d-sm-block go-down" [@logo]="message">
    <button class="btn btn-outline-secondary">
      <i class="fa fa-angle-double-down fa-2x"></i>
    </button>
  </div>
</div>


<!-- temporary contact footer -->
<div class="footer">
  © 2018 anthill<span>solutions</span>
  -
  <a href="mailto:pierre@anthillsolutions.fr">
    <i class="fa fa-envelope"></i>
    contact
  </a>
</div>
