<div class="chevron"></div>
<div class="container">
  <div class="home-title-box">
    <img src="/assets/img/logo_original.png">
    <p class="anthill">
      towards <span>solutions</span> together
    </p>
    <p class="text-big">
      Managing micro services around the world bringing
      people into advanced solutions.
    </p>
  </div>
</div>

<!-- temporary contact footer -->
<div class="footer">
  © 2018 anthill<span>solutions</span>
  -
  contact:
  <a href="mailto:pierre@anthillsolutions.fr">
    pierre@anthillsolutions.fr
  </a>
</div>
